@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />

    <p>👆 choose "CRM Leads" for addding new Data</p>
    <br></br>
    <p>App is made with Asp.NetCore6 and SqlServer </p>
    <br></br>
   <p>Asure Sql Server is integrated with this app</p>
</div>
